.signup {
  position: relative;
  height: 562px;
  width: 556px;
  background-color: #fbf9ff;
  margin: 159px auto 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  flex-direction: column;
  padding: 0;
}

.signup p {
  position: absolute;
  color: #725798;
  left: 107px;
  top: 95px;
  font-size: 24px;
  font-weight: 700;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.signup #labelEmail {
  position: absolute;
  left: 107px;
  top: 156px;
  font-size: 14px;
  font-weight: 400;
  color: #344054;
}

.signup #inputEmail {
  position: absolute;
  width: 338px;
  height: 40px;
  left: 107px;
  top: 183px;
  border: 3px solid #f5edff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.signup #labelPassword {
  position: absolute;
  left: 107px;
  top: 250px;
  font-size: 14px;
  font-weight: 400;
  color: #344054;
}

.signup #inputPassword {
  position: absolute;
  width: 338px;
  height: 40px;
  left: 107px;
  top: 280px;
  border: 3px solid #f5edff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

.signup #labelRole {
  position: absolute;
  left: 107px;
  top: 340px;
  font-size: 14px;
  font-weight: 400;
  color: #344054;
}

.signup .react-select-signup {
  position: absolute;
  left: 107px;
  top: 370px;
}

.signup button {
  position: absolute;
  top: 440px;
  width: 342px;
  height: 44px;
  background: #725798;
  border: 1px solid #7f56d9;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}
